# latex files
*.log
*.gz
*.bib
*.bbl
**.blg
*.fdb_latexmk
**.fls
*.aux
*.DS_Store

# other files
*.vscode/*

# DrivingStereo images
6_Project/data/**
# Images for report
4_Report/raw_images/**
4_Report/images/**